---
Checks:          'clang-diagnostic-*,-google'
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: ''
FormatStyle:     none
User:            rokka
CheckOptions:    {}
SystemHeaders:   false
ExtraArgs:
  - -DCLANG_TIDY
...

